<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Steven's Personal Website</title>

  <link rel="stylesheet" type="text/css" href="/css/site.css" />
  <!-- Font Awesome -->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet" />
  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet" />
  <!-- MDB -->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.4.1/mdb.min.css" rel="stylesheet" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Font1|Font2&display=swap">

</head>

<body>
  <nav class="navbar navbar-expand-lg fixed-top">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-mdb-toggle="collapse" data-mdb-target="#navbarContent"
        aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
        <i class="fas fa-bars text-white"></i>
      </button>
      <div class="collapse navbar-collapse justify-content-center" id="navbarContent">
        <ul class="navbar-nav mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" href="#top">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#about">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#experience">Experience</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#skills">Skills</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#contact">Contact</a>
          </li>
          <div class="d-flex nav-icons">
            <li class="nav-item d-inline">
              <a class="nav-link" href="https://github.com/stevenfojas670"><i class="fab fa-github fa-lg"></i></a>
            </li>
            <li class="nav-item d-inline">
              <a class="nav-link" href="https://www.linkedin.com/in/steven-fojas-8a1516241/"><i
                  class="fab fa-linkedin fa-lg"></i></a>
            </li>
          </div>
        </ul>
      </div>
    </div>
  </nav>
  <div class="main-content container-wide">
    <div class="header">
      <div class="header-content d-flex justify-content-start align-items-center">
        <div class="header-items d-flex flex-column">
          <h1 class="name">Steven Fojas</h1>
          <div class="d-flex gap-3 justify-content-end">
            <a href="https://www.linkedin.com/in/steven-fojas-8a1516241/" target="_blank">
              <button class="btn btn-outline-light btn-lg" type="button">Linkedin</button>
            </a>
            <a href="https://github.com/stevenfojas670" target="_blank">
              <button class="btn btn-light btn-lg" type="button">github</button>
            </a>
          </div>
        </div>
        <button class="btn btn-outline-light"><i class="fas fa-angle-down"></i></button>
    </div>
    <div class="main-content-body">
      <div class="body-tabs" id="about">

      </div>
      <div class="body-tabs" id="experience">

      </div>
      <div class="body-tabs" id="skills">

      </div>
      <div class="body-tabs" id="contact">

      </div>
    </div>
    <footer class="text-center text-lg-start">
      <!-- Copyright -->
      <div class="text-center p-5">
        <div class="footer-icons justify-content-center d-flex gap-3 mb-3">
          <a href="https://www.linkedin.com/in/steven-fojas-8a1516241/"><i class="fab fa-linkedin fa-2x"></i></a>
          <a href="https://github.com/stevenfojas670"><i class="fab fa-github fa-2x"></i></a>
        </div>
        <p>&copy; 2023 Steven Fojas. All rights reserved.</p>
      </div>
      <!-- Copyright -->
    </footer>
  </div>
  <div class="createdAlerts text-center" role="alert" style="display:none"></div>
  <script type="text/javascript" src="/js/jquery.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.4.1/mdb.min.js"></script>
  <script type="text/javascript" src="/js/site.js"></script>
</body>

</html>