.navbar{
    backdrop-filter: blur(10px);
    background-color: rgba(228, 228, 228, 0);
}

.navbar .navbar-brand{
    color: white;
}

.navbar-nav .nav-link{
    color: black;
}

.navbar-nav .nav-link:hover{
    color: rgb(216, 157, 47);
}

.navbar .navbar-brand:hover{
    color: rgb(216, 157, 47);
}

.main-content-header{
    padding-top: 3em;
    height: 100vh;
    width: auto;
}

.card{
    max-width: 50em;
}

.body-tabs{
    padding-top: 5em;
    padding-bottom: 5em;
}

.rounded-thumbnail{
    width: 50vh;
    height: 50vh;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 0px 8px 15px 1px rgba(0, 0, 0, 0.5);
}

.rounded-thumbnail img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center top;
}

@media (max-width: 768px){
    .rounded-thumbnail{
        max-width: 18em;
        max-height: 18em;
    }
}

.card-icons a:hover{
    color: rgb(216, 157, 47);
}

.createdAlerts{
    position: fixed; /* Use 'fixed' for an overlay that stays in the same position while scrolling */;
    top: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.7); /* Semi-transparent black background */
    color: white;
    text-align: center;
    padding: 20px;
    z-index: 1000 !important; /* Set a high z-index value to ensure the overlay appears above other elements */
}

.skill-container{
    background-color: rgb(245, 245, 245);
    border-radius: 0.5em;
    padding: 1em;
}

.skill-container .skill-title{
    display: block;
}

.skill-container .skill-label{
    font-weight: 500;
    color: rgb(93, 93, 93);
}


.skill-container .skill-bar{
    height: 0.8em;
    width: 100%;
    border-radius: 5px;
    margin-top: 0.3em;
    margin-bottom: 0.5em;
    background-color: rgb(236, 236, 236);
}

.skill-bar .skill-percentage{
    position: relative;
    display: block;
    height: 100%;
    background: rgb(101, 149, 225);
    border-radius: 5px;
    animation: progress 0.8s ease-in-out forwards;
    opacity: 0;
}

@keyframes progress{
    0%{
        width: 0;
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}