.navbar{
    backdrop-filter: blur(10px);
    background-color: rgba(228, 228, 228, 0);
}

.navbar .navbar-brand{
    color: white;
}

.navbar-nav .nav-link{
    color: rgb(255, 255, 255);
}

.navbar-nav .nav-link:hover{
    color: #cd9b1d;
}

.navbar .navbar-brand:hover{
    color: #cd9b1d;
}

.main-content-body{
    background-color: black;
}

.body-tabs{
    height: 100vh;
    width: 100%;
}

.header{
    position: relative;
    height: 100vh;
    width: 100%;
    background-image: url('/images/vincent-camacho-naECyRIi9pc-unsplash.jpg');
    object-fit: cover;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.header::before{
    content: ''; /* Required for a pseudo-element */
    position: absolute; /* Position the pseudo-element absolutely */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Black with 50% opacity */
}

.header-content{
    display: flex;
    justify-content: start;
    align-items: center;
    position: relative;
    z-index: 1;
    height: 100%;
    width: 100%;
}

.header-items{
    margin-left: 3em;
    gap: 1.5em;
}

.header-items .name {
    color: white;
    font-family: 'Bebas Neue', sans-serif;
}

.header-items .header-links{
    justify-content: end;
    gap: 1em;
}

.rounded-thumbnail{
    width: 40vh;
    height: 40vh;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 0px 8px 15px 1px rgba(0, 0, 0, 0.5);
}

.rounded-thumbnail img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center top;
}

@media (max-width: 768px){
    .rounded-thumbnail{
        max-width: 18em;
        max-height: 18em;
    }

    .header-content{
        justify-content: center;
    }

    .header-items{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 0;
    }
}

#linkedinLink:hover{
    background-color: white;
    color: rgb(95, 95, 95);
}

#githubLink{
    background-color: white;
    color: rgb(95, 95, 95)
}

#githubLink:hover{
    background-color: transparent;
    color: white;
}

.next-button{
    position: absolute;
    bottom: 1em;
    left: 50%;
    z-index: 9999;
    transform: translateX(-50%);
}

.next-button a{
    color: white;
    transition: color 0.3s, color 0.3s; /* Adding transitions for smooth animation */
}

.next-button a:hover{
    color: rgba(95, 95, 95, 0.8);
}

.about-text h1{
    color: rgb(255, 255, 255);
}

.about-text p{
    color: rgb(255, 255, 255);
}

.createdAlerts{
    position: fixed; /* Use 'fixed' for an overlay that stays in the same position while scrolling */;
    top: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.7); /* Semi-transparent black background */
    color: white;
    text-align: center;
    padding: 20px;
    z-index: 1000 !important; /* Set a high z-index value to ensure the overlay appears above other elements */
}

.skill-container{
    background-color: rgb(245, 245, 245);
    border-radius: 0.5em;
    padding: 1em;
}

.skill-container .skill-title{
    display: block;
}

.skill-container .skill-label{
    font-weight: 500;
    color: rgb(93, 93, 93);
}


.skill-container .skill-bar{
    height: 0.8em;
    width: 100%;
    border-radius: 5px;
    margin-top: 0.3em;
    margin-bottom: 0.5em;
    background-color: rgb(236, 236, 236);
}

.skill-bar .skill-percentage{
    position: relative;
    display: block;
    height: 100%;
    background: rgb(101, 149, 225);
    border-radius: 5px;
    animation: progress 0.8s ease-in-out forwards;
    opacity: 0;
}

@keyframes progress{
    0%{
        width: 0;
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

footer{
    background-color: black;
}

.footer-icons a{
    color: rgb(146, 146, 146);
}

.footer-icons a:hover{
    color: white;
}